@page
@model Thesis.Pages.Universties.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.University[0].UniNameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.University[0].UniNameEn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.University) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniNameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniNameEn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UniId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UniId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UniId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
